{% load bootstrap4 %}       {# import bootstrap4 #}
{% bootstrap_css %}         {# Embed Bootstrap CSS #}
{% bootstrap_javascript jquery='full' %}  {# Embed Bootstrap JS+jQuery #}


<div class="container-fluid">
    <div class="container">
        <div>
                {% for message in messages %}
                <h3> {{message}}</h3>
                {% endfor %}
    
        </div>
        <h1>Accident Form</h1>
        <p>It is our collective responsibility to report an accident. By reporting accidents, relevant agencies monitor problems and identify their root causes. Reporting road accidents enable actions to be taken to reduce future ocurrences, and at LifeShield it takes less than 5 minutes to report an accident.</p>
        <form  enctype="multipart/form-data" method="POST" action="{% url 'incident_create' %}"
            method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            {{ form.media }}      {# Adds date-picker required JS and CSS #}
                {% buttons %}
                    <button type="submit" class="btn btn-primary">Submit</button>
                {% endbuttons %}
        </form>

    </div>
<div>