<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Response submitted</title>
</head >
<body style="background-color: #4b1694; color: white; text-align:center; background: url('/static/images/red.jpg'); background-repeat: no-repeat; background-size: 100% auto;">
<h2>Thank you for saving someones life</h2>
<p style="font-size:20px">your response has been submitted, you can as well take good care of yourself when moving through some of this route</p>
</body>
</html>

